
<a class="button-actions" [routerLink]="['/news']"> Назад к результатам</a>

<p>
  create-news works!
</p>


<form class="ui form">
  <div class="field">
    <label>Название</label>
    <input type="text"  placeholder="название события">
  </div>
  <div class="field">
    <label>Фото</label>
    <input type="text" placeholder="Фото url">
  </div>
  <div class="field">
    <label>time</label>
    <input type="datetime-local" placeholder="Время проведение">
  </div>
  <div class="field">
    <label>Место</label>
    <input type="text" placeholder="Место" value ="{{adressPlace}}" >
  </div>
  <div class="field">
    <label>Описание</label>
    <input type="text" placeholder="Описание">
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>



<button (click) = "ewclick()" >click</button>
