
<a class="button-actions" [routerLink]="['/news']"> Назад к результатам</a>

<p>
  create-news works!
</p>


<form class="ui form">
  <div class="field">
    <label>Название</label>
    <input type="text" [(ngModel)]="news.name"  placeholder="Название события" name="name">
  </div>
  <div class="field">
    <label>Фото</label>
    <input type="text" placeholder="Фото url">
  </div>
  <div class="field">
    <label>Дата и время события</label>
    <!-- <input type="datetime-local" [(ngModel)]="news.dateTimeEvent" value="2017-06-01T08:30" name="datetimeEvent"> -->

<input type="datetime-local" [(ngModel)]="news.dateTimeEvent" name="datetimeEvent">
  </div>
  <div class="field">
    <label>Место</label>
   <!--  <textarea class="textarea-adress" type="text" rows="2" placeholder="нажмите на карту для добавления места" readonly >{{adressPlace}}</textarea> -->
    <input type="text" placeholder="нажмите на карту" value ="{{adressPlace}}" readonly >

  </div>
  <div class="field">
    <label>Описание</label>
    <textarea  type="text" rows="2" placeholder="Описание"></textarea>
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>



<button (click) = "ewclick()" >click</button>
