
<a class="button-actions" [routerLink]="['/news']"> Назад к результатам</a>

<p>
  create-news works!
</p>


<form class="ui form" [formGroup]="newsForm" (submit)="onSubmit()">
  <div class="field">
    <label>Название</label>
    <input type="text" placeholder="Название события" formControlName="name">
  </div>
  <div class="field">
    <label>Фото</label>
    <input type="text" placeholder="Фото url" formControlName="photoUrl">
  </div>

  <div class="field">
    <label>Дата и время события</label>
    <input type="datetime-local" [(ngModel)] ="dateNowISO" (ngModelChange)="dataChange(dateNowISO)" [ngModelOptions]="{standalone: true}">
      </div>
  <div class="field">
    <label>Место</label>
    <input type="text" placeholder="нажмите на карту" formControlName="adress" readonly >

  </div>



<!--   <div class="field">
    <label>Дата и время события</label>
<input type="datetime-local" [(ngModel)] ="dateNowISO" name="datetimeEvent" (ngModelChange)="dataChange(dateNowISO)">
  </div>
  <div class="field">
    <label>Место</label>
    <input type="text" placeholder="нажмите на карту" value ="{{news.adress}}" readonly >

  </div>
  <div class="field">
    <label>Описание</label>
    <textarea  type="text" rows="2" placeholder="Описание"></textarea>
  </div>
 -->  <button class="ui button" type="submit">Submit</button>
</form>

<div>
  {{newsForm.value | json}}
</div>
<button (click) = "ewclick()" >click</button>
