
<h2>places  works!</h2>

<div class="ui search">
	<div class="ui icon input">
		<!-- <input class="prompt" id = "searchBox" type="text" placeholder="Поиск мест..." (input)="valuechange($event)" /> -->
		<input class="prompt" id = "searchBox" type="text" placeholder="Поиск мест..." />		
		<i class="search icon"></i>
	</div>
	 <i class="filter icon"></i>
	<div class="results" id = "searchBoxOutput"></div>
</div>




<div class="ui" *ngFor="let place of places">
	<div class="ui divider"></div>
	<form class="ui form">
			<div class="fields">
				<div class="eight wide field">
					<label>{{place.name}}</label>
					<br>{{place.rating}}			

				</div>
				<div class="eight wide field">
					<img class="ui image " [src]="place.photos[0].getUrl({'maxWidth': 300, 'maxHeight': 300})">
				</div>
			</div>
	</form>
</div>
<div class="ui divider"></div>



<div *ngIf = "placesService.currentPlace$" >
	<form class="ui form">
		<div class="field">
			<img class="ui image" [src]="placesService.currentPlace$.photoUrl">
		</div>
		<div class="field">
			<h3>{{placesService.currentPlace$.name}}</h3>
		</div>
		<div class="field">
			<LABEL>Адрес</LABEL>
			<p>{{placesService.currentPlace$.adress}}</p>
		</div>
		<div class="field">
			<LABEL>Телефонный Номер</LABEL>
			<p>{{placesService.currentPlace$.phone_number}}</p>
		</div>
		<div class="field">
			<LABEL>Рейтинг google</LABEL>
			<p>{{placesService.currentPlace$.rate}}</p>
		</div>
		<div class="field">

			<!-- КАМЕНТАРИИ -->
<a class="button-actions" (click) = "showAddcomments = !showAddcomments" >Показать коментарии</a>
<div class="ui" [hidden]="!showAddcomments" >
		<form class="ui reply form">
			<div class="field">
				<textarea rows="2"></textarea>
			</div>
			<div class="ui primary submit labeled icon button">
				<i class="icon edit"></i> Add Comment
			</div>
		</form>

	<div class="ui comments">
		<!-- comment -->
		<div class="comment">
			<a class="avatar">
				<img src="">
			</a>
			<div class="content">
				<a class="author">author  author</a>
				<div class="metadata">
					<div class="date">1 day ago</div>
				</div>
				<div class="text">
					<p>ТЕКСТ  ТЕКСТ  ТЕКСТ  ТЕКСТ</p>
				</div>
				<div class="actions">
					<a class="reply">Reply</a>
				</div>
			</div>
		</div>
		<!-- comment -->
	</div>
</div>
			<!-- КАМЕНТАРИИ -->

		</div>
	</form>

</div>




<!-- <select class="ui dropdown">
		<option value="1">Male</option>
		<option value="0">Female</option>
</select>
<button class="ui icon button" (click) = "FilterVisible = !FilterVisible">
		<i class="filter icon"></i>
</button>
 -->

<!-- <section [hidden]="!FilterVisible">
		<form class="ui form">
				<div class="two fields">
							<div class="field">
										<div class="ui checkbox">
												<input type="checkbox" name="example">
												<label>Магазины</label>
										</div>
							</div>
							<div class="field">
										<div class="ui checkbox">
												<input type="checkbox" name="example">
												<label>Рестораны</label>
										</div>
							</div>
				</div>
				<div class="two fields">
							<div class="field">
										<div class="ui checkbox">
												<input type="checkbox" name="example">
												<label>Банки</label>
										</div>
							</div>
							<div class="field">
										<div class="ui checkbox">
												<input type="checkbox" name="example">
												<label>Администрат</label>
										</div>
							</div>
				</div>
				<div class="two fields">
							<div class="field">
										<div class="ui checkbox">
												<input type="checkbox" name="example">
												<label>Школы</label>
										</div>
							</div>
							<div class="field">
										<div class="ui checkbox">
												<input type="checkbox" name="example">
												<label>Заправки</label>
										</div>
							</div>
				</div>
		</form>
</section>
 -->



<button (click) = "bclick()" >click</button>
