.items:hover {
  -moz-transform:scale(1.03); /* Firefox */
  -ms-transform:scale(1.03); /* IE 9 */
  -o-transform:scale(1.03); /* Opera */
  -webkit-transform:scale(1.03); /* Safari and Chrome */
  background-color: #DBDBDB;
  cursor: pointer;
  transform:scale(1.03);
}

.items {
  -moz-transition: all 0.8s ease; /* Firefox */
  -ms-transition: all 0.8s ease; /* IE 9 */
  -o-transition: all 0.8s ease; /* Opera */
  -webkit-transition: all 0.8s ease; /* Safari and Chrome */
  max-height: 150px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.items img{
  max-height: 120px;
}

.list-place-search {
  width: 100%
}

.selectedMarker {
  background-color: #DBDBDB;
  transform: translateY(-10px);
}

.stars-outer {
  color: #2B2A2A;
  display: inline-block;
  position: relative;
}

.stars-inner {
  color: #2B2A2A;
  left: 0;
  position: absolute;
  top: 0;
  width: 80%;
}

.my-filter {
  display: none;
}

.filter-active {
  display: block;
}