
<form class="ui form" [formGroup]="loginForm">
     <div class="field">
          <label>Account Name</label>
          <div class="ui left icon input">
               <i class="user icon"></i>
               <input type="text" formControlName="name" placeholder="Account name">
          </div>
          <div class="error" *ngIf="isControlInvalid('name')" required>
               Введите account name
          </div>
     </div>
     <div class="field">
          <label>Password</label>
          <div class="ui left icon input">
               <i class="lock icon"></i>
               <input type="password" formControlName="password"  placeholder="Password">
          </div>
          <div class="error" *ngIf="isControlInvalid('password')" required>
               Введите password
          </div>
     </div>

     <div class="field">
          <div class="ui fluid large teal submit button" (click)="onSubmit()">
               LOG IN
          </div>
     </div>

     <div class="field">
          <div class="ui horizontal divider">Or</div>
     </div>


     <div class="field" *ngIf="errorMessage">
            <div class="error">
               {{errorMessage}}
            </div>
       </div>

     <div class="ui column centered grid">
          <div class="row">
           <a [routerLink]="['signup']">Register
           </a>
          </div>
     </div>

</form>




<div class="ui hidden divider"></div>


<div class=" item ">
     <div class="ui centered grid">
          <a href="/api/auth/facebook/" class="ui circular facebook icon button" data-tooltip="Log with in facebook" data-position="bottom left" >
               <i class="facebook icon"></i>
          </a>

          <a href="/api/auth/github/" class="ui circular grey icon button" data-tooltip="Log with in github" data-position="bottom left" >
               <i class="github icon"></i>
          </a>

          <a href="/api/auth/google/" class="ui circular google plus icon button" data-tooltip="Log with in mail" data-position="bottom left" >
               <i class="mail  icon"></i>
          </a>
     </div>

</div>


<div class="ui hidden divider"></div>


<div>
     {{loginForm.value | json}}
</div>

