.header-column {
  margin-left: 1%;
  margin-right: 1%;
  padding-top: 10px;
  z-index: 99;
}

.menu-column {
  height: 700px;
  margin-left: 1%;
  min-width: 21em;
  overflow: hidden;
  z-index: 100;
}
.menu-segment{
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateX(0%);
  transition: 1s;
}

.hide-menu{
  transform-origin: left top;
  transform: translateX(-100%);
  transition: 1s;
}
