<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<h2>Here are some links to help you start: </h2>


    <nav>
      <a routerLink="/" routerLinkActive="active">home</a>
      <a routerLink="/places" routerLinkActive="active">places</a>
      <a routerLink="/login" routerLinkActive="active">logins</a>

<!--       <a routerLink="/admin" routerLinkActive="active">Admin</a>
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a> -->
    </nav>
              <!-- ROUTING -->
        <router-outlet></router-outlet>


</div>




<app-main-map></app-main-map>
