.date-left{
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.85em;
}

.selectedMarker{
  background-color: red;
}

.time{
	color: rgba(0, 0, 0, 0.6);
	font-size: 0.95em;
	text-align: inherit;
}


.my-sort {
  display: none;
}

.sort-active {
  display: block;
}

















