.fade {
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: fade;
  animation-duration: 1.5s;
  animation-name: fade;
}

.mySlides img{
    margin: 0;
    max-height: 300px;
    object-fit: cover;
    overflow: hidden;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.slideshow-container {
  margin: auto;
  max-width: 100%;
  position: relative;
}

#slider-buttons-left{
  color: #0033F1;
  cursor: pointer;
  float: left;
  font-size: 400%;
  left: 1px;
  position: absolute;
  top: 45%;
  z-index: 1000;
}

#slider-buttons-right{
  color: #0033F1;
  cursor: pointer;
  float: right;
  font-size: 400%;
  position: absolute;
  right: 1px;
  top: 45%;
  z-index: 1000;
}

#slider-buttons-right:hover{
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: fade;
  animation-duration: 1.5s;
  animation-name: fade;
  color: #778899;
}

#slider-buttons-left:hover{
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: fade;
  animation-duration: 1.5s;
  animation-name: fade;
 color: #778899;
}

.urlPhoto {
  display: none;
}
