<div id = "map"></div>

<nav class="context-menu">
  <ul class="context-menu__items">
    <li class="context-menu__item">
      <a class="context-menu__link" (click) = "addMarker($event)">
        <i class="fa fa-eye"></i> Добавить маркер
      </a>
    </li>
    <li class="context-menu__item">
      <a  class="context-menu__link">
        <i class="fa fa-edit"></i> Что здесь?
      </a>
    </li>
    <li class="context-menu__item">
      <a class="context-menu__link">
        <i class="fa fa-times"></i> Проехать сюда
      </a>
    </li>
    <li class="context-menu__item">
      <a  class="context-menu__link">
        <i class="fa fa-times"></i> Проехать отсюда
      </a>
    </li>
  </ul>
</nav>
