<div id = "map"></div>

<nav class="context-menu">
  <ul class="context-menu__items">
    <li class="context-menu__item">
      <a class="context-menu__link" (click) = "CreateNews($event)">
        <i class="fa fa-eye"></i> Создать новость
      </a>
    </li>
    <li class="context-menu__item">
      <a  class="context-menu__link"  (click) = "goToDetails($event)">
        <i class="fa fa-edit"></i> go to details
      </a>
    </li>
    <li class="context-menu__item">
      <a  class="context-menu__link">
        <i class="fa fa-edit"></i> Пометить как посещенное
      </a>
    </li>



  </ul>
</nav>
