



<div class="ui items" *ngIf = "placeDetail" >
     <div class="item">
          <a class="button-actions" [routerLink]="['/places']"> Назад к результатам</a>
     </div>
     <div class="center aligned  column">
          <div class="item">
               <app-slider [photoArr] = "placeDetail.photoUrlarr">
               </app-slider>
          </div>
     </div>

     <div class="item">
          <div class="content">
               <a class="header">{{placeDetail.name}}</a>

               <div class="meta">
                    <LABEL>Адрес : </LABEL>
                    {{placeDetail.adress}}
               </div>

               <div class="meta">
                    <LABEL>Рейтинг google</LABEL>
                    <p>{{placeDetail.rate}}</p>
               </div>

               <div class="meta">
                    <LABEL>Телефонный Номер</LABEL>
                    <p>{{placeDetail.phone_number}}</p>
               </div>
          </div>
     </div>
</div>





<!-- КАМЕНТАРИИ -->
<!-- <a class="button-actions" (click) = "showAddcomments = !showAddcomments" >Показать коментарии</a>
<div class="ui" [hidden]="!showAddcomments" >
     <form class="ui reply form">
          <div class="field">
               <textarea rows="2"></textarea>
          </div>
          <div class="ui primary submit labeled icon button">
               <i class="icon edit"></i> Add Comment
          </div>
     </form>

     <div class="ui comments">
          <div class="comment">
               <a class="avatar">
                    <img src="">
               </a>
               <div class="content">
                    <a class="author">author  author</a>
                    <div class="metadata">
                         <div class="date">1 day ago</div>
                    </div>
                    <div class="text">
                         <p>ТЕКСТ  ТЕКСТ  ТЕКСТ  ТЕКСТ</p>
                    </div>
                    <div class="actions">
                         <a class="reply">Reply</a>
                    </div>
               </div>
          </div>
     </div>
</div> -->
<!-- КАМЕНТАРИИ -->




<button (click) = "bclick()" >click</button>

