
<br>


<div class="ui items" *ngIf="loginService.currentUser">

	<div class="ui centered  aligned grid">
		<div class="ui centered  aligned image">
			<img class="ui image" [src]="loginService.currentUser.photoUrl">
		</div>
	</div>

	<div class="ui hidden divider">

	</div>

	<div class="item">
		<div class="content">
			<a class="header">{{loginService.currentUser.username}}</a>

			<div class="meta">
				<i class="clock outline icon"></i>

				<span >
					{{loginService.currentUser.lastlogin | date: 'dd MMMM yyyy HH-mm'}}
				</span>
			</div>

			<div class="extra">
				Непросмотренных новостей
			</div>
		</div>
	</div>

</div>
<!-- </div> -->

<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>

<div>
	{{loginService.currentUser | json}}
</div>
