<div class="ui menu header-menu">

<a href="#" class="header item">
      <i class="list icon"></i>
</a>
    <a routerLink="/" class="item">home</a>
    <!-- <a routerLink="/login" class="item">login</a> -->
    <a routerLink="/news" class="item">События</a>
    <a routerLink="/places" class="item">Places</a>



    <div class="right menu" *ngIf="loginService.currentUser">


    <div class="item">
      <img class="ui avatar image " [src]="loginService.currentUser.photoUrl">
      <span>{{loginService.currentUser.username}}</span>
    </div>


    <a class="item" (click)="loginService.logout()">
      Logout
    </a>

    </div>



</div>
